.flex-container{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
}

.column{
    flex-direction: column;

}
.cards {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
    margin-top: 3%;
    
}
.box-price{
    width: 350px;
    height: 400px;
    background-color: #061826;
    margin: 22px;
    display: flexbox;
    justify-content: center;
    padding: 1.5rem ;
}    
.box{
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 30%;
}

.cards2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
    margin-top: 3%;
    width: 90%;
    
}
body{
    text-align: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23103f64' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #061826;
    color: white;
}




/* General Page Set Up */

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-attachment: fixed;
    background-size: contain;;
}

body {
    width: 100%;
    margin: 0 auto;
}


/* TYPOGRAPHY */

h1, h2, h3, h4, h4, h6 {
    font-family: 'Sonsie One', cursive;
    color: #fff;
}

p, input, li {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

p, li {
    font-size: 2rem;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* HEADER LAYOUT */

nav, article, aside, footer {
    background-color: white;
    padding: 1%;
}

.header-img{
    padding: 0;
    margin: 0;
    display: flex;
    justify-items: left;
}

nav {
    background-color: #78cdff;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: auto;
    position: sticky;
}
nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    align-items: center;
    display: flex;
}
nav li {
    display: inline;
    text-align: left;
    flex: 1;
    padding: 0;
    margin: 0;
}
nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: 'Commissioner', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}

input {
    font-size: 1.6rem;
    height: 32px;
}
input[type=search] {
    flex: 3;
}
input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0px;
    color: white;
}

footer {
    background-color: gray;
    opacity: .9;
    font-size: 1rem;
}

footer li{
    display: flex;
    align-content: space-between;
    margin: 0 auto;
    font-size: 2rem;
}

.footer-links {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 1px 5px 1px 5px;
}

.footer-links li {
    display: flex;
    align-items: baseline;
    align-content: space-between;
}

.footer-links li a{
    margin: 0px 10px 0px 10px;
    color: #061826;
    text-decoration: none;
}

a img .header-img2{
    margin: 0;
    color: #061826;
    text-decoration: none;
}

.footer-links li a:hover{
    margin: 0px 10px 0px 10px;
    color: #061826;
}


@media (max-width: 479px) {

    #title {
        font-size: 2rem;
    }

    #description2 {
        font-size: 1rem;
        text-align: center;
    }

    nav input{
        display: none;
    }

    nav ul li a {
        font-size: 2rem;
        text-align: center;
        margin: 1.5rem;
    }

    footer img {
        display: none;
    }

    nav {
        width: 100%;
        margin: 0;
    }

    .cards {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-direction: row;
        margin-top: 3%;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
    }
    .box-price{
        width: 350px;
        height: 400px;
        background-color: #061826;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        margin: 0 auto;
    }    
    .box{
        padding-bottom: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        margin: 0 auto;
    }
    
    .cards2 {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        margin-top: 3%;
        width: 90%;
        
    }
}